* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: rgba(218, 63, 148, 0.452);
	font-family: 'Open Sans', sans-serif;
}

.logo{
    height: 100px;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 10px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav a {
	color: rgb(0, 0, 0);
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: rgba(199, 93, 151, 0.548);
}


.imagen-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, 0.699) 0%, rgba(0, 0, 0, 0.699) 100%), url(fondo.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.imagen-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}



@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.imagen-principal {
		font-size: 20px;
	}

	.imagen-principal .descripcion {
		max-width: 100%;
	}
}


h2 {
    color:rgb(255, 255, 255);
    font-weight:bold;
	font-size: 4em;
	margin: 20px 10px;
}
h3 {
    color:rgb(255, 255, 255);
    text-align: justify;
    font-weight:bold;
	font-size: 3em;
	margin: 20px 10px;
	border-bottom: 2px solid #ad9fee;
}
h4 {
    color:rgb(255, 255, 255);
    text-align: justify;
    font-weight:bold;
	font-size: 2em;
	margin: 20px 10px;
}
p {
    color:rgb(255, 255, 255);
    text-align:center;
    padding: 10px;
    font-weight: normal;
	font-size: 1em;
	margin: 20px 10px;
}



section nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
    font-weight: normal;
	font-size: 1em;
	margin: 20px 10px;
}

ul li {
  color: rgb(255, 255, 255);
  text-align: justify;
  padding: 10px;
  font-weight: normal;
  font-size: 1em;
  margin: 60px, 10px;
}

ul li a:hover,
ul li a.activo {
	color: rgb(124, 53, 255);
}

.mw-headline {
	color:rgba(166, 160, 216, 0.959)
}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #080808;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #3b4161;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(176, 163, 235);
}
.pie-pagina .grupo-2{
    background-color: #3b4161;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}